html,
body {
  margin: 0;
  padding: 0;
  background-color: #164766;
}
#scale-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #164766;*/
}

#content {
  width: 1024px;
  height: 768px;
  transform-origin: top;
}
body.dark {
  background-color: #0b2b40;
  color: #ffffff;
}
body.light {
  background: #ffffff;
  color: #0b2b40;
}
.mode-btn ol {
  display: flex;
  width: 0.1vw;
  height: 0.1vh;
}

ol li button {
  margin: 0%;
  padding: 0;
  height: 1%;
  width: 35px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
}
ol li {
  list-style-type: none;
}
main {
  width: 100vw;
  margin: -9px;
  padding: 0;
}
.header,
footer {
  background-color: #164766;
  color: white;
  height: 11vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
main div.header {
  display: flex;
  justify-content: space-between;
  font-size: small;
}
div.right {
  display: flex;
  place-items: center;
}
div.right a {
  padding: 20px;
  text-decoration: none;
  color: whitesmoke;
}
div.right a:hover {
  background-color: #164760;
  color: #000;
  opacity: 80%;
}
div.left img {
  height: 9vh;
  width: 6vw;
  padding: 10px;
}
div.content {
  padding-top: 10vh;
  font-family: sans-serif;
  place-items: center;
}
div.name {
  color: #4ca0e0;
  font-size: xxx-large;
}
div.description {
  font-size: large;
  align-items: flex-start;
}
div.btn {
  align-items: left;
  margin: 0;
  padding: 0;
}
button {
  background-color: #0b2b70;
  border: #0b2b40;
  border-radius: 25px;
  width: 10vw;
  height: 5vh;
}

button a {
  color: aliceblue;
  text-decoration: none;
  font-size: larger;
}
.business-card h1,
.business-card h4 {
  text-align: center;
}
.business-card h1 {
  font-size: xx-large;
}
div.contact-content {
  color: white;
  place-items: center;
  padding-top: 150px;
  padding-bottom: 150px;
}
.business-card {
  background-color: #164770;
  border-radius: 45px;
  height: 400px;
  width: 800px;
}
div.contact-details {
  color: #000;

  place-items: left;
  padding: 50px;
}
.contact-details div {
  gap: 10px;
  padding-left: 60px;
}
div.social-media {
  display: flex;
  place-items: center;
  gap: 5px;
  padding-left: 220px;
}
div.social-media img {
  padding-left: 20px;
}
div.social-media img:hover {
  background-color: transparent;
  opacity: 0.5;
  transition: opacity 1s ease-in-out;
  border: 0.000000001rem solid black;
  border-radius: 50px;
}
.contact-details div {
  display: flex;
}

.project-content {
  place-items: center;
}
.top,
.bottom {
  margin-left: 0;
  padding-top: 60px;
  place-items: center;
  display: flex;
  gap: 10px;
}
div.image-layout {
  border: 2px solid #0b2b70;
  background-color: #0b2b70;
  color: white;
  border-radius: 20px;
}
.image-layout a img {
  height: 30vh;
  width: 25vh;
  border-radius: 20px;
}
.image-layout a img:hover {
  background-color: black;
  opacity: 0.5;
  transition: opacity 1s ease-in-out;
  border: 5px solid #0b2b70;
}
div.image-layout .title h3 {
  text-align: center;
  font-size: xx-large;
}
main#about {
  width: 50vw;
  margin: 0;
  place-content: center;
  display: grid;
  grid-template-columns: 90px 600px;
  gap: 2rem;
}
a#avatar {
  background-color: #04bf9d;
  height: 90px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-image: url("images/user.png");
  background-size: cover;
  border: 0.5rem solid #027373;
}
div#bio ol {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  list-style-type: none;
}
div#bio ol li a img {
  width: 100%;
}
div#bio ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

div#bio ol li a img:hover {
  background-color: black;
  opacity: 0.5;
  transition: opacity 1s ease-in-out;
  border: 0.25rem solid #027373;
}
div#foto p {
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
  width: 120ch;
}
.info {
  display: flex;
  gap: 2rem;
}
.info h3 {
}
